<footer>
    <section class="social">
        <ul>
            <li><a href="http://www.facebook.com/pages/West-Haven-Academy-of-Karate-New-Braunfels-Texas/139667663495">
                <img src="{{site.url}}/assets/images/f-ogo_RGB_HEX-58.png" alt="Follow OWASP on Facebook"/>
                </a>
            </li>
            <li><a href="http://www.youtube.com/channel/UCQ_-fSETCWQ0xlvn-dLx_JQ">
                <img src="{{site.url}}/assets/images/youtube_social_icon_red.png" alt="Watch us on YouTube"/>    
                </a>
            </li>
            <li><a href="http://www.tsdmgk.com">
                <img src="{{site.url}}/assets/images/tsdmgk-72x72.png" alt="Visit the Mi Guk Kwan site"/>    
                </a>
            </li>
        </ul>
    </section>
</footer>
</html>


<!--
    <a href="https://www.facebook.com/OWASPFoundation" title="Follow OWASP on Facebook">
        <img src="https://tangsoodo.github.io/Owasp-Site-Theme/media/f-ogo_RGB_HEX-58.png" alt="Follow OWASP on Facebook"/>
    </a>
    <a href="https://www.twitter.com/owasp" title="Follow OWASP on Twitter">
        <img src="https://tangsoodo.github.io/Owasp-Site-Theme/media/Twitter_Social_Icon_Rounded_Square_Color.png" alt="Follow OWASP on Twitter"/>
    </a>
    <a href="https://www.linkedin.com/company/owasp/" title="Follow OWASP on LinkedIn">
        <img src="https://tangsoodo.github.io/Owasp-Site-Theme/media/In-2C-54px-R.png" alt="Follow OWASP on LinkedIn"/>
    </a>  
-->