footer {
    margin-top: 24px;
    background-color: $tsdlightgray;
    grid-area:footer;
    grid-column-start: 2;
    grid-column-end: 2;
    width:100%;
    padding-left: 12px;

    ul {
        list-style-type: none;
        align-content: center;
        
        li {
            display:inline-block;
            height: 24px;
            
            img {
                max-height:24px;
                padding-left: 4px;
                padding-right: 4px;
            }
        }
    }
}

@media(max-width: 1080px) {

    footer {
      grid-column-start: 1;
      grid-column-end : 1;
    }
  }