header{
  grid-area:header;
  grid-column-start: 2;
  grid-column-end: 2;
  div{
       width:100%;
       h1 {
         line-height:.5em;
         padding-top:.25em;
       }
    
    .tagline {
        margin-left:6.8em;
        font-weight:bold;
        margin-top: -8px;
      }

    .info {
        text-align:right;
        margin-top:8px;

        a {
          text-decoration:none;
        }
      }
  }
 
  .logo {
     max-width:20%;
     margin-right:20px;
     float:left;
    content: url(https://kithwood.github.io/whaknbweb/assets/images/tsdmgk-650x624.png);
  }
}

@media(max-width: 1200px) {

  header {
    grid-column-start: 1;
    grid-column-end : 1;
    width:100%;
    background-color:white;
    div {
      h1 {
        line-height: 1em;
        font-size: 1em;
      }

      .tagline {
        font-size: .7em;
        margin-left:6.8em;
      }
    }
  }
}