header{
  grid-area:header;
  grid-column-start:2;
  grid-column-end:3;
  div{
       width:100%;
       h1 {
         line-height:.5em;
         padding-top:.25em;
       }
  }
 
  .logo {
     max-width:120px;
     margin-right:20px;
     float:left;
     content: url(assets/images/tsdmgk-650x624.png);
  }
  
  .tagline {
        margin-left:1.5em;
      }
}
