header{
  grid-area:header;
  grid-column-start: 2;
  grid-column-end: 2;
  div{
       width:100%;
       h1 {
         line-height:.5em;
         padding-top:.25em;
       }
    
    .tagline {
        margin-left:164px;
        font-weight:bold;
        margin-top: -8px;
      }

    .info {
        text-align:right;
        margin-top:8px;

        a {
          text-decoration:none;
        }
      }
  }
 
  .logo {
     max-width:120px;
     margin-right:20px;
     float:left;
    content: url(https://kithwood.github.io/whaknbweb/assets/images/tsdmgk-650x624.png);
  }
}

