nav {
    margin-top: 2em;
    
    .burger {
        display:none;
        margin-left: 0.1em;
    }

    a { 
        background-color: $tsdblue;
        color: #fff;
        padding: .2em 1em;
        border-radius: 0.5em;
        
        text-decoration: none;
        &:hover {
            background-color: $tsdhighlight;
            color: $tsddarkblue;
        }
        &:active {
            background: $tsdactive;
        }

        .active {
            background: $tsdhighlight;
        }
    }
}