$tsdblue: rgb(107, 117, 139);
$tsdhighlight: rgb(152, 179, 209);
$tsddarkblue: darkblue;
$tsdactive: lightblue;
$tsdgray: #888;
$tsdlightgray: lightgray;
$tsdorange: orange;
$tsdgreen: green;
$tsdred: red;
$tsdwhite: white;